langchain
langchain_community
llama-index
langchain-together
urllib3
gradio
chromadb
tqdm
sentence_transformers
python-dotenv
#google-api-python-client>=2.100.0
fpdf
wikipedia
langchain-google-genai
nest_asyncio
beautifulsoup4
chromadb
tavily-python
streamlit
openai
langchain-openai
sseclient-py